<p style="text-transform: uppercase;">Dado este texto Conviertalo todo en Mayusculas</p>

<p style="text-transform: capitalize;">Dado este texto, convierta la primera letra de cada palabra en mayusculas</p>


<!-- Dado el texto del usuario -->
<form id="saveMessage">
    <label > Ingrese el mensaje</label>
    <input id="message" name="message"/>
    <button type="submit">Guardar</button>
</form>

<Ul id="messageList">
    <li>Tus mensajes son:</li>
</Ul>


<!-- De los mensajes anteriores -->
<button type="button" id="convertMessageLetter">
    Convertir la primera letra de cada palabra a mayusculas
</button>

<script>
    const saveMessage = document.getElementById('saveMessage');
    const convertMessageLetter = document.getElementById('convertMessageLetter');
    const messageList = document.getElementById('messageList');

    //Agregar mensaje en la lista
    saveMessage.addEventListener("submit", function(ev){
        ev.preventDefault();
        let formData = new FormData(saveMessage) 

        console.log(formData.get('message'))

        let inputMessage = document.querySelector('#message');
        let list = document.createElement('li')
        if(formData.get('message')){
            list.textContent = formData.get('message')
            list.classList.add('capitalizeList')
            messageList.append(list)
            inputMessage.value = '';
        }else{
            let message = 'Error: el campo de mensaje no debe estar vacio...'
            console.error(message)
            alert(message)
        }
    })

    //Convertir primeras letras a mayusculas de cada palabra
    convertMessageLetter.addEventListener("click", function() {
        //let messageList = document.querySelector('#messageList');
        let childListNode = messageList.childNodes;

        for(let i = 0; i < childListNode.length; i++){
           if(childListNode[i].className == 'capitalizeList'){
                childListNode[i].style.textTransform = 'capitalize'
           } 
        };
    })
</script>
<!-- Realice el botton anterior de dos maneras, con y sin hacer modificaciones 
al texto ingresado por el usuario -->


<!-- Crear un api en nodejs que imprima el mensaje en consola y luego lo almacene en una base de datos de mongo -->